:root{
    --debug-color: #ff00ff;
    --primary-color: white;
    --secondary-color: rgb(35, 59, 100);
    --tertiary-color: black;
    --four-color:whitesmoke;
    --primary-font: 'Arial', sans-serif;
    --pick-color: pink;
    --blur-color: rgba(255, 192, 203, 0.247);
    --neon-color: rgba(253, 205, 213, 0.486);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    border: 1px solid var(--debug-color);
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--primary-font);
    overflow-x:hidden;
}

/*HERO*/
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url('/assets/images/images-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .topbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1vh 2vh;
        flex-wrap: wrap-reverse;
        align-items: center;
        z-index:10;
        color: var(--primary-color);
        .navbar{
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 1rem;
            align-items: center;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: var(--four-color);
            }
            .head{
                font-weight: bold;
                font-size:xx-large;
            }
        }
        input[type="search"]{
            padding: 0.3rem;
            border-radius: 0.3rem;
            width: 50%;
            border: none;
            outline: 1px solid var(--four-color);
            background: none;
        }
        input::placeholder{
            color: var(--four-color);
        }
        .mini-profile{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;
            #profile-name{
                font-weight: bold;
                width: 4vh;
                height: 4vh;
                font-size: small;
                text-align: right;
                overflow: hidden;
            }
            #profile-picture{
                width: 4vh;
                height: 4vh;
                border-radius: 50%;
            }
        }
    }
    .hero{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        .title-profile{
            display:flex;
            padding:0;
            margin:0;
            position: absolute;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width:100%;
            p{
                position: absolute;
                font-size: 26dvh;
                font-weight: bold;
                white-space: nowrap;
                text-align: center;
            }
            .title1{
                color: rgba(0, 0, 0, 0.411);
                filter: blur(1vh);
                z-index: 0;
            }
            .title2{
                color: var(--primary-color);
                z-index: 2;
                transform: translate(-1vh, -1vh);
                filter: drop-shadow(0.5vh 0.5vh 0.5vh var(--primary-color));
            }
            .title3{
                color: var(--secondary-color);
                z-index: 1;
                transform: translate(-3vh, -2vh);
                filter: blur(1vh);
            }
        }
        .three-box{
            display:flex;
            z-index: 3;
            height: 100%;
            flex-direction: row;
            align-items: end;
            width: 100%;
            justify-content: space-between;
            color: var(--four-color);
            height:100%;
            .profile-characters{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: end;
                height:100%;
                position: relative;
                .profile-character{
                    position: absolute;
                    width: 40%;
                    min-width: 20vh;
                    z-index: 5;
                }
                .profile-character-blur{
                    z-index: 4;
                    width: 44%;
                    min-width:23vh;
                    filter: blur(1vh) grayscale();
                }
            }
            .author-info{
                padding: 2%;
                p{
                    font-size: x-small;
                }
            }
            .profile-info{
                padding-bottom: 1%;
                padding-top: 0.5%;
                padding-left:1%;
                width: 13%;
                margin-bottom: 3%;
                font-size:smaller;
                color: var(--four-color);
                font-weight: bold;
                backdrop-filter: blur(1vh );
                background-color: rgba(0, 0, 0, 0.185);
                border-radius:12px 0 0 12px;
                border: 1px solid var(--blur-color);
                #profile-job{
                    text-decoration: underline;
                    text-align:center;
                }
                #profile-job-description{
                    font-size:x-small;
                    font-weight:lighter;
                    overscroll-behavior: none;
                    overflow-y: auto;
                    height:10vh;
                    text-align: left;
                }
            }
        }
    }
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
    box-shadow: 0 1vh 17px 0 rgba(0, 0, 0, 0.507) inset;
    background: var(--secondary-color);
    width:100%;
    min-height: 90vh;
}
