

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
    transition: all 0.3s ease-in-out;   
    border: 1px transparent var(--debug-color);
    color: var(--neutral-color);
    scroll-behavior: smooth;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: var(--primary-font);
    overflow-x:hidden;
}

/*HERO*/
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: url('assets/images/images-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .topbar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1vh 2vh;
        flex-wrap: wrap-reverse;
        align-items: center;
        z-index:10;
        color: var(--primary-color);
        .navbar{
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 1rem;
            align-items: center;
            flex-wrap: wrap;
            a{
                text-decoration: none;
                color: var(--four-color);
            }
            .head{
                font-weight: bold;
                font-size:xx-large;
            }
        }
        input[type="search"]{
            padding: 0.3rem;
            border-radius: 0.3rem;
            width: 50%;
            border: none;
            outline: 1px solid var(--four-color);
            background: none;
        }
        input::placeholder{
            color: var(--four-color);
        }
        .mini-profile{
            display:flex;
            flex-direction: row;
            align-items: center;
            gap: 0.5rem;
            flex-wrap: wrap;
            #profile-name{
                font-weight: bold;
                width: 8vh;
                height: 4vh;
                font-size: small;
                text-align: right;
                word-break: break-all;
                overflow: auto;
            }
            #profile-picture{
                width: 4vh;
                height: 4vh;
                border-radius: 50%;
            }
        }
    }
    .hero{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        .title-profile{
            display:flex;
            padding:0;
            margin:0;
            position: absolute;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            p{
                position: absolute;
                font-size: 19dvh;
                font-weight: bold;
                white-space: nowrap;
                overflow: auto;
                text-align: center;
            }
            .title1{
                color: rgba(0, 0, 0, 0.411);
                filter: blur(1vh);
                z-index: 0;
            }
            .title2{
                color: var(--primary-color);
                z-index: 2;
                transform: translate(-1vh, -1vh);
                filter: drop-shadow(0.5vh 0.5vh 0.5vh var(--primary-color));
            }
            .title3{
                color: var(--secondary-color);
                z-index: 1;
                transform: translate(-3vh, -2vh);
                filter: blur(1vh);
            }
        }
        .three-box{
            display:flex;
            z-index: 3;
            height: 100%;
            flex-direction: row;
            align-items: end;
            width: 100%;
            justify-content: space-between;
            color: var(--four-color);
            height:100%;
            gap: 1vh;
            .profile-characters{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: end;
                justify-content: end;
                height:100%;
                position: relative;
                .profile-character{
                    position: absolute;
                    width: 44vw;
                    min-width: 20vh;
                    z-index: 5;
                }
                .profile-character-blur{
                    z-index: 4;
                    width: 48vw;
                    min-width:23vh;
                    filter: blur(1vh) grayscale();
                }
            }
            .author-info{
                padding: 2%;
                p{
                    font-size: x-small;
                }
            }
            .profile-info{
                display: flex;
                flex-direction: row-reverse;
                margin-bottom: 3%;
                font-size:smaller;
                padding: 2vh;
                color: var(--four-color);
                font-weight: bold;
                backdrop-filter: blur(0.4vh );
                background-color: var(--back-color);
                border-radius:32px 0 0 12px;
                border: 1px solid var(--blur-color);
                align-items: center;
                margin-left: 10vh;
                height: 27%;
                width: 100%;
                gap: 1vh;
                #profile-job{
                    font-size: xx-large;
                    text-decoration: underline;
                    writing-mode: vertical-rl;
                    font-weight: bolder;
                    height: max-content;
                    max-height: 100%;
                    padding: 1vh;
                    word-break: break-all;
                }
                #profile-job-description{
                    font-size:x-small;
                    font-weight:lighter;
                    width: 50%;
                    overflow-y: auto;
                    display: flex;
                    letter-spacing: 3px;
                    align-items: center;
                    height: 100%;
                    text-align: right;
                }
            }
        }
    }
}

main{
    color:var(--four-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    justify-content: center;
    gap: 5rem;
    background-color: var(--secondary-color);
    .page-a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5vh;
        .job-flex{
            text-align: center;
            margin-top: 3em;
            display: none;
            padding: 2vh;
            h1{
                text-decoration: underline;
            }
            p{
                font-weight: lighter;
                font-size: small;
            }
            i{
                font-size: x-large;
            }
        }
        .pin-title{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1{
                color: var(--back-color);
                font-size: 10vh;
                letter-spacing: 3vh;
                text-decoration: underline;
                text-align: center;
            }
            span{
                color: var(--neutral-color);
                letter-spacing: 1vh;
            }
        }
        .pined-proj{
            display: flex;
            overflow-x: auto;
            flex-direction: row;
            width: 100%;
            *{
                border: rgba(0, 0, 0, 0.178) solid 1px;
                padding: 1vh;
            }
            .pinned-card{
                display: flex;
                justify-content: center;
                flex-direction: row;
                min-width: 60rem;
                margin-top: 1vh;
                margin-bottom: 8rem;
                padding: 2vh;
                border-right: var(--blur-color) solid 1px;
                img{
                    width: 20%;
                    height: 40dvh;
                    margin: 2vh;
                    object-fit: cover;
                    border-radius:12vh;
                    object-position: center;
                }
                .proj-inf{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    h1{
                        overflow: hidden;
                        height: 60px;
                        max-height: 100px;
                        max-width: 20em;
                        margin-bottom: 1vh;
                    }
                    span{
                        font-size: xx-small;
                        color: #d9d9d981;
                        overflow:auto;
                        max-width: 80vh;
                        height: 20px;
                        margin-bottom: 1vh;
                    }
                    ol{
                        list-style: none;
                        display:flex;
                        flex-direction: row;
                        overflow:scroll;
                        min-width: 20px;
                        flex-wrap: wrap;
                        gap: 0.4vh;
                        padding: 0.3vh;
                        margin-bottom: 1vh;
                        li{
                            padding:0.4vh;
                            font-size: 11px;
                            border-radius:6px;
                            background: var(--blur-color);
                        }
                    }
                    .describe{
                        display: flex;
                        flex-direction: row;
                        gap: 0.4vh;
                        padding-left: 1vh;
                        max-height: 20em;
                        max-width: 50em;
                        line{
                            padding: 0.3vh;
                            background: var(--neutral-color);
                        }
                        article{
                            overflow: scroll;
                            font-size: 12px;
                            color:var(--neutral-color);
                        }
                    }
                }
            }
        }
        .pinned-card:hover{
            transform: scale(1.02);
            img{
                object-position: 0%;
                transform: scale(1.02);
                filter: drop-shadow(0.2vh 0.2vh 0.2vh var(--primary-color));
            }
            h1{
                filter: drop-shadow(0.1vh 0.1vh 0.1vh var(--primary-color));
            }
        }
        .proj-box{
            display: flex;
            padding-top: 2vh;
            flex-direction: column;
            width: 100%;
            align-items: center;
            gap: 2vh;
            .nav-proj{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 2vh;
                .content-title{
                    display: flex;
                    flex-direction: row-reverse;
                    align-items: center;
                    span{
                        color: var(--neutral-color);
                    }
                }
                button{
                    background: none;
                    color: var(--four-color);
                    border: none;
                    padding: 2vh;
                }
                button:hover{
                    cursor: pointer;
                }
            }
            .card-box{
                display: flex;
                flex-direction: row;
                padding: 1vh;
                flex-wrap: wrap;
                width: 90%;
                justify-content: center;
                align-items: center;
                gap: 1vh;
                border-top: 1px solid var(--neutral-color);
                .card{
                    background-color: var(--back-color);
                    display: flex;
                    max-width: 35em;
                    align-items: center;
                    padding: 1vh;
                    img{
                        width: 7rem;
                        height: 10em;
                        object-fit: cover;
                        margin:1vh;
                        border-radius:0.3vh;
                        object-position: center;
                    }
                    .card-inf{
                        display: flex;
                        flex-direction: column;
                        gap: 1vh;
                        h2{
                            overflow: hidden;
                            height: 30px;
                        }
                        span{
                            font-size: xx-small;
                            color: #d9d9d981;
                            overflow:auto;
                            height: 20px;
                        }
                        ol{
                            list-style: none;
                            display:flex;
                            flex-direction: row;
                            overflow:scroll;
                            min-width: 20px;
                            flex-wrap: wrap;
                            gap: 0.4vh;
                            padding: 0.3vh;
                            li{
                                padding:0.4vh;
                                font-size: 11px;
                                border-radius:6px;
                                background: var(--blur-color);
                            }
                        }
                        .describe{
                            max-height: 7em;
                            display: flex;
                            flex-direction: row;
                            gap: 0.4vh;
                            padding-left: 1vh;
                            line{
                                padding: 0.3vh;
                                background: var(--neutral-color);
                            }
                            article{
                                overflow: scroll;
                                font-size: 12px;
                                color:var(--neutral-color);
                            }
                        }
                    }
                    
                }
                .card:hover{
                    transform: scale(1.02);
                    img{
                        object-position: 0%;
                        transform: scale(1.02);
                        filter: drop-shadow(0.2vh 0.2vh 0.2vh var(--primary-color));
                    }
                }
            }
        }
        .depen-box{
            display: flex;
            flex-direction: column;
            width: 100%;
            .depen-dec{
                display: flex;
                flex-direction: row;
                border-bottom:1px solid var(--neutral-color);
                padding: 1vh;
                line{
                    background-color: var(--neutral-color);
                    padding: 2vh;
                }
                .title{
                    h1{
                    text-decoration: underline;
                }
                p{
                    font-size: xx-small;
                    text-decoration: underline;
                    color:#d9d9d981;
                }
                }
            }
            
            .cards{
                display: flex;
                justify-content: center;
                padding: 7vh;
                background-color: var(--back-color);
                flex-direction: row;
                flex-wrap: wrap;
                gap: 3rem;
                button{
                    padding-top: 16vh;
                    width: 20vh;
                    text-align: center;
                    background: url('assets/images/images-bg.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    filter: drop-shadow(0.2vh 0.2vh 0.2vh var(--primary-color));
                    min-height: max-content;
                }
                button:hover{
                    filter: drop-shadow(0.5vh 1vh 0.5vh var(--primary-color));
                    transform: scale(1.1);
                    background-position: 0%;
                    border-radius: 1vh;
                    z-index: 5;
                }
            }
            .describe-card{
                padding: 2vh;
                background-color: var(--back-color);
                display: flex;
                min-height: 20rem;
                height: 100%;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                .depen-dec{
                    display: flex;
                    flex-direction: row;
                    padding: 1vh;
                    border: none;
                    #line{
                        background-color: var(--secondary-color);
                        padding: 1vh;
                        opacity: 1;
                        transition: opacity 0.3 ease;
                    }
                    #line.fade{
                        opacity: 0;
                    }
                    .title{
                        #clas-depen{
                            text-decoration: underline;
                            color: var(--neutral-color);
                            opacity: 1;
                            transition: opacity 0.3 ease;
                        }
                        #clas-depen.fade{
                            opacity: 0;
                        }
                    }
                }
                #desc-depen{
                    font-size: xx-small;
                    padding-top: 2vh;
                    text-decoration: underline;
                    color:var(--neutral-color);
                    text-align: center;
                    text-decoration: none;
                    max-width: 70em;
                    border-top: 1px solid var(--neutral-color);
                    letter-spacing: 1px;
                    opacity: 1;
                    transition: opacity 0.3 ease;
                }
                #desc-depen.fade{
                    opacity: 0;
                }
            }
        }
    }
    .page-b{
        animation: none;
    }
}
@media screen and (max-width:600px) {
    header{
        .hero{
            max-height: 30vh;
            .title-profile{
                p{
                    font-size: 8dvh;
                }
            }
            .three-box{
                justify-content: center;
                .profile-info{display: none;}
                .author-info{display:none}
            }
        }
    }
    main{
        .page-a{
            .job-flex{
                display: block;
            }
            .pin-title{
                margin-top: 4rem;
            }
            .pined-proj{
                .pinned-card{
                    margin: 0;
                    min-width: 5rem;
                    flex-direction: column;
                    img{
                        width: 7rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1000px){
    header{
        .hero{
            height: 40vh;
            .title-profile{
                p{
                    font-size: 16dvh;
                }
            }
        }
    }
    
    main{
        .page-a{
            .pined-proj{
                .pinned-card{
                    min-width: 20rem;
                    img{
                        width: 5rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1500px) {
    header{
        .hero{
            height: 70vh;
            .three-box{
                justify-content: center;
                .profile-info{display: none;}
                .author-info{display:none}
            }
        }
    }

    main{
        .page-a{
            .pin-title{
                margin-top: 6rem;
            }
            .job-flex{
                display: block;
            }
        }
    }
}